{
  "$schema": "https://agent-plugins.org/schemas/1.0.0/plugin.schema.json",
  "name": "{{api.id}}-sdk",
  "version": "0.1.0",
  "description": "{{plugin.description}}",
  "author": {
    "name": "APIMatic",
    "email": "developer@apimatic.io"
  },
  "homepage": "https://www.apimatic.io",
  "repository": "https://github.com/apimatic/plugin-marketplace",
  "license": "MIT",
  "keywords": "{{plugin.keywordsJson}}"
}
